# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment Variables
.env
.env.*
!.env.example

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# System
.DS_Store 